__pycache__/
.ipynb_checkpoints/
dist/
build/
England_Weather_Forecast.egg-info/

level_forecast_tools/__pycache__/
level_forecast_tools/.ipynb_checkpoints/
level_forecast_tools/England_Weather_Forecast.egg-info/

level_forecast_tools/data/.ipynb_checkpoints/
level_forecast_tools/data/archive/

level_forecast_tools/test-notebook.ipynb
level_forecast_tools/data/test-notebook.ipynb
